
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background: rgb(136, 130, 130);
    box-sizing: border-box;
   

}

.navbar{
    display: none;
}
.header{
    position:fixed;
    top:0;
    left:0;
    padding:40px ;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.logo{
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: 800;
    margin-right: 600px;
}

.navbar a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;
  }
  
  .navbar a:hover{
      color:rgb(157, 15, 15);
  }

.navbarPC a{
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-left: 35px;
  transition: .3s;
}

.navbarPC a:hover{
    color:rgb(157, 15, 15);
}
section{
    padding: 5% 10%;
}

.main-home{
    position: relative;
    width:100%;
    height: 100vh;
    background-position: center;
    
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
 
}
.homeImg{
    position: absolute;
    height: auto;
    width:430px;
    box-shadow: 5px 5px 5px rgb(56, 55, 55);
    top:160px;
    right:60px;
    border-radius: 10px;
    opacity: 0.6;
    transition: width 0.6s ease-in-out;
}
.homeImg:hover{
    opacity: 1;
    width: 470px;
    
    
}
.main-text{
    position: absolute;
    left:95px;
    
}
.main-text h5{
    color: rgb(157, 15, 15);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color:black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: black;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;

}
.main-button{
    
    color: black;
    font-size: 16px;
    font-weight: 600;
    width:150px;
    height: 50px;
    border: 2px solid black;
    padding: 12px 25px;
    position: absolute;
    left: 100px;
    bottom: 200px;
    transition: width 0.7s ease-in-out;
    text-decoration: none;
}
.main-button:hover{
    background-color: black;
    color: white;
    
}
.main-button i{
    vertical-align: middle;
    background: transparent;
    border: none;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    display: grid;
    height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(136, 130, 130);
    
}
.query{
    display :none;
}

section .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}


.profile img{
    height: 100px;
    width: 100px;
    align-items:center;
    border-radius: 50%;
    background: black;
    padding: 1.5px;

}
.profile .name,
.profile .purpose{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.profile .button{
    display: flex;
    align-items: center;
    padding:8px 20px ;
    margin-top: 15px;
    background:black;
    border-radius: 10px;
    cursor: pointer;
    
}
.profile .button:hover{
    background: rgb(157, 15, 15);;
}
.profile .button button{
    background: none;
    outline: none;
    border:none;
    font-size: 15px;
    color: white;
    pointer-events: none;
   
}
section .popup{
    position: absolute;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    bottom:613px;
    transition:all 0.5s ease-in-out;
    opacity: 0;
    
    
    
    
}


.Parent{
    position: absolute;
    background: rgb(77, 70, 70);
    height: 100%;
    width: 100%;
    opacity: 0.3;
    display:none;
}

section .popup-box{
    position: relative;
    background: linear-gradient(130deg, white,rgb(103, 93, 93));
    padding: 30px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    top:600px;
    transition:all 1s ease-in-out;
    box-shadow: 0 8px 8px 8px rgb(159, 146, 146);
    

}
.popup-box .Closeicon{
    position: absolute;
    right:10px;
    top:10px;
    opacity: 0.4;
    cursor: pointer;
}
.popup-box .Closeicon:hover{
    opacity: 1;
}

.popup-box .Closeicon:before, .popup-box .Closeicon:after{
    position: absolute;
    width: 2px;
    height: 15px;
    right:10px;
    top:10px;
    content: " ";
    background: black;

}
.popup-box .Closeicon:before{
    transform:rotate(45deg);
}
.popup-box .Closeicon:after{
    transform:rotate(-45deg);
}

section .popup-box .profile-text{
    display: flex;
    align-items: center;
}
section .popup img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-text .text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile-text .text .name{
    font-size: 20px;
    font-weight: 500;
}
.profile-text .text .name:before{
    content: "!...";
}
.profile-text .text .purpose{
    font-size: 15px;
    font-weight: 600;
}
section .popup-box textarea{
    padding:12px;
    height: 100px;
    width:100%;
    margin-top: -44px;
    border-radius: 10px;
    outline:none;
    border: 1px solid rgb(219, 216, 216);
    resize:none;
    font-size: 15px;
    font-weight: 400;
    background: rgb(219, 216, 216);

}
section .popup-box .button{
    display: flex;
    justify-content: end;
    margin-top: 76px;
    
}

section .popup-box .button button{
    outline: none;
    border: none;
    padding:7px 16px;
    border-radius: 5px;
    background:rgb(202, 99, 159);
    margin-left: 20px;
    color: aliceblue;
    cursor: pointer;
    
}
.button button.cancel:hover{
    background:rgb(199, 63, 142);
}
.button button.send:hover{
    background:rgb(199, 63, 142);
}

.message .success{
    font-size: 20px;
    color:green;
    position: absolute;
    animation: buttons .5s linear;
    display:none;
    text-shadow: 2px rgb(10, 101, 10);
    bottom: 200px;
    left:517px;
    font-weight: 600;
    
}
 .danger{
    font-size: 15px;
    color: rgb(157, 15, 15);
    position: absolute;
    animation: buttons .5s linear;
    display: none;
    top:98px;
    font-weight: 600;
    left:140px;

}

.about{
    width: 100%;
    padding: 100px 100px;
    background: rgb(136, 130, 130);
    display: none;
    
}
.about img{
    height:auto;
    margin-top: 56px;
    width:440px;
    box-shadow: 5px 5px 5px rgb(56, 55, 55);
    border-radius: 10px;
    opacity: 0.6;
    margin-left: -172px;
    transition: width 0.7s ease-in-out;
}
.about img:hover{
    opacity: 1;
    width:480px;
    
  
}
.about-text{
    width:600px;
}
.main{
    width:1130px;
    max-width: 95%;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2{
    color: black;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-left: -120px;

}
.about-text h4{
    color: rgb(162, 13, 13);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-shadow: 2px gray;
    margin-left: -120px;
    
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-shadow: 4px 0 grey;
    margin-left: -117px;
    opacity: 0.8;
}
.contactinfo{
    display: none;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    
    
}
.contact-text{
    font-size: 55px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color:rgb(162, 13, 13);
}
.contact-text h5{
    margin: 15px 0;
    color:black;
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: black;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
    font-size: 20px;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li i{
    color:rgb(162, 13, 13);
}
.contact-list li a:hover{
    color:rgb(162, 13, 13) ;
    transform: scale(1.02) translateY(-5px);
    
}
.contact-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    transition: all 0.6s ease-in-out;
    text-decoration: none;
}
.contact-icons a:hover{
   
    width: 40px;
    height: 40px;
    color:rgb(162, 13, 13);
   
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: 1px solid black;
    outline: none;
    width: 50px;
    padding:18px;
    width: 130%;
    position: relative;
    background:rgb(136, 130, 130);
    color:black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    top:73px;
   
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form .sendbutton{
    display: flex;
    position: absolute;
    align-items: center;
    padding:8px 20px;
    top:505px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    background: none;
    outline: none;
    color: white;
    background:black;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-weight: 300;
    right: 48px;
    
}
.contact-form .sendbutton:hover{
    background:rgb(162, 13, 13) ;
}


.product-filter {
    display: flex;
  }
  .product-filter h1 {
    flex-grow: 1;
  }
.sort {
  display: flex;
}
.collection-sort {
    display: flex;
    flex-direction: column;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }

  .products {
    display: none;
    flex-wrap: wrap;
    height: max-content;
    margin: 50px;
    background:rgb(136, 130, 130);
  }
  
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    flex-direction: column;
  
    display: flex; /* so child elements can use flexbox stuff too! */
  }

  .product-card {
    flex: 1 16%;
  }

  .product-image img {
    width:100px;
    height: 100px;
    mix-blend-mode: multiply;
    object-fit: cover;
    
  }
 

@media screen and (max-width: 600px){
    *{
        background: none;
        width: auto;
        height: auto;
    }
    .product-card:hover{
        opacity: 0.7;
      }
    .navbarPC {
        display: none;
    }
    .navbar{
       
        flex-direction: column;
        align-items: flex-start;
        background-color:rgb(136, 130, 130);
        position: absolute;
        justify-content: center; 
        align-items: center; 
        top: 35px;
        padding: 42px;
        border-radius: 0px 0px 12px 12px;
        line-height: 40px;
        right: -14px;
        width: 410px;
        height: 200px;
        box-shadow: 5px 5px 5px rgb(56, 55, 55);
        animation: openMenu 1s;
    
}

@keyframes openMenu {
  from {height: 0px;}
  to {height: 200px;}
}


.message .success{
    bottom:290px;
    left:70px
}
section .popup-box{
    top:45px;
}
.toggle-button{
    display: flex;
    position: relative;
    cursor: pointer;
    transition: all 1s ease-in-out;
 }
 .toggle-button .hamburgerBar{
    width: 35px;
    height: 4px;
    background: #faf9f9;
    box-shadow: 5px 5px 5px rgb(56, 55, 55);
    border-radius: 5px;
    transition: all 1s ease-in-out;
 }
 .toggle-button .hamburgerBar::before,
 .toggle-button .hamburgerBar::after{
     content: "";
     position: absolute;
     width: 35px;
     height: 4px;
     background: #faf9f9;
     box-shadow: 5px 5px 5px rgb(56, 55, 55);
     border-radius: 5px;
     transition: all 1s ease-in-out;
 }
 .toggle-button .hamburgerBar::before{
     transform: translateY(-12px);
 }
 .toggle-button .hamburgerBar::after{
     transform: translateY(12px);
 }
 .toggle-button.open .hamburgerBar{
     transform: translateX(-50px);
     background: transparent;
     box-shadow: none;
 
 }
 
 .toggle-button.open .hamburgerBar::before{
    box-shadow:none;
     transform: rotate(45deg) translate(35px,-35px);

 }
 .toggle-button.open .hamburgerBar::after{
    box-shadow:none;
     transform:  rotate(-45deg) translate(35px,35px);
 }
    .navbar ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar {
        padding: .5rem 1rem;
        text-align: center;
        font-size:15px;
        justify-content: space-between;
        display: none; 
        
    }
   
    
   .header{
    padding:15px;
    background: rgb(136, 130, 130);
   }
   .header .logo{
    margin: 0px;
   }
   .header .text{
    font-size: 35px;
   }
   
   .main-home a i{
    position: absolute;
    top: 14px;
    right: 10px
   
   }

   .main-home .homeImg{
    width: 70%;
    height: 50%;
   }
   .main-text{
    top: 200px;
   }
   
   .main-text h1{
    position: absolute;
    top: 45px;
    font-size: 32px;
    left: -7px;
    line-height: 50px;
   }
   .main-text p{
    position: absolute;
    top: 230px
   }
   .main-button{
    position: absolute;
    bottom: 330px;
    font-size: 20px;
   }
   section .popup-box{
    height: 338px;
   }

   section .popup-box .button {
    position: absolute;
    top:275px;
    left:200px;
   }

   .about .main img{
    width: 330px;
    position: absolute;
    top: 170px;
    left: 40px;
    margin: 0px;
   
   }
   .about-text h2{
    position: absolute;
    top: 105px;
    left: 115px;
    font-size: 45px;
    margin: 0px;
   }
   .about-text h4{
    position: absolute;
    margin: 0px;
    top: 555px;
    left: 60px;
   }

.about-text p{
    letter-spacing: 0px;
    position: absolute;
    margin: 0px;
    text-align: justify;
    bottom: 10px;
    left: 80px;
    width: 280px
   }  


   .contactinfo{
   
    min-height: 1082px;

   }

   .contact-text h2{
    font-size: 45px;
    position: absolute;
    top: 125px;
    left: 100px;
   }
   .contact-text h5{
    position: absolute;
    top: 175px;
    left: 145px;
   }
  .contact-text p{
    position: absolute;
    top: 215px;
    left: 70px;
    text-align: justify;
    width: 300px;
  }

  .contact-icons{
    position: absolute;
    top: 425px;
    left: 130px;
  }

  .contact-list{
    position: absolute;
    top: 360px;
    left: 110px;
  }

  .contact-form{
    width: 250px;
    position: absolute;
    top: 445px;
    left: 45px;
  

  }
  .products{
    margin: 0px;
    padding-top: 100px;
  }
  section .popup{
    position: absolute;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    bottom:220px;
    transition:all 0.5s ease-in-out;
    opacity: 0;
    
    
    
    
}


.Parent{
    position: absolute;
    background: rgb(77, 70, 70);
    height: 100%;
    width: 100%;
    opacity: 0.3;
    display:none;
}

section .popup-box{
    position: relative;
    background: linear-gradient(130deg, white,rgb(103, 93, 93));
    padding: 30px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    top:40px;
    transition:all 1s ease-in-out;
    box-shadow: 0 8px 8px 8px rgb(159, 146, 146);
    

}
section .popup-box textarea{
    padding:12px;
    height: 100px;
    width:100%;
    margin-top: -44px;
    border-radius: 10px;
    outline:none;
    border: 1px solid rgb(219, 216, 216);
    resize:none;
    font-size: 15px;
    font-weight: 400;
    background: rgb(219, 216, 216);

}
section .popup-box .button{
    display: flex;
    justify-content: end;
    margin-top: 16px;
    
}
}
  @media screen and (min-width: 600px) and (max-width:800px){

    .navbarPC {
        display: none;
    }
    
    .navbar{
       
        flex-direction: column;
        align-items: flex-start;
        
        position: absolute;
        justify-content: center; 
        align-items: center; 
        top: 74px;
        padding: 42px;
        border-radius: 0px 0px 12px 12px;
        line-height: 40px;
        right: -48px;
        width: 794px;
        height: 200px;
        box-shadow: 5px 5px 5px rgb(56, 55, 55);
        animation: openMenu 1s;
    
}

@keyframes openMenu {
  from {height: 0px;}
  to {height: 200px;}
}

.toggle-button{
    display: flex;
    position: relative;
    right: 25px;
    top: -20px;
    cursor: pointer;
    transition: all 1s ease-in-out;
 }
 .toggle-button .hamburgerBar{
    width: 35px;
    height: 4px;
    background: #faf9f9;
    box-shadow: 5px 5px 5px rgb(56, 55, 55);
    border-radius: 5px;
    transition: all 1s ease-in-out;
 }
 .toggle-button .hamburgerBar::before,
 .toggle-button .hamburgerBar::after{
     content: "";
     position: absolute;
     width: 35px;
     height: 4px;
     background: #faf9f9;
     box-shadow: 5px 5px 5px rgb(56, 55, 55);
     border-radius: 5px;
     transition: all 1s ease-in-out;
 }
 .toggle-button .hamburgerBar::before{
     transform: translateY(-12px);
 }
 .toggle-button .hamburgerBar::after{
     transform: translateY(12px);
 }
 .toggle-button.open .hamburgerBar{
     transform: translateX(-50px);
     background: transparent;
     box-shadow: none;
 
 }
 
 .toggle-button.open .hamburgerBar::before{
     transform: rotate(45deg) translate(35px,-35px);
 }
 .toggle-button.open .hamburgerBar::after{
     transform:  rotate(-45deg) translate(35px,35px);
 }
    .navbar ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar {
        padding: .5rem 1rem;
        text-align: center;
        font-size:15px;
        justify-content: space-between;
        display: none; 
        
        
    }
    .products{
        margin-top: 115px;
      }

      .navbar a{
        font-size: 20px;
        color: black;
        text-decoration: none;
        font-weight: 700;
        margin-left: 50px;
        transition: .3s;
        background: none;
      }

      .homeImg{
        position: absolute;
        height: auto;
        width:330px;
        box-shadow: 5px 5px 5px rgb(56, 55, 55);
        top:185px;
        right:55px;
        border-radius: 10px;
        opacity: 0.6;
        transition: width 0.6s ease-in-out;
    }
    .homeImg:hover{
        opacity: 1;
        width: 360px;
        
        
    }
    .main-text{
        position: absolute;
        left:75px;
        width: 270px;
        
    }
    .main-text h5{
        color: rgb(157, 15, 15);
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 500;
    }
    .main-text h1{
        color:black;
        font-size: 55px;
        text-transform: capitalize;
        line-height: 1.1;
        font-weight: 600;
        margin: 6px 0 10px;
    }
    .main-text p{
        color: black;
        font-size: 19px;
        font-style: italic;
        margin-bottom: 20px;
    
    }
    .main-button{
        
        color: black;
        font-size: 16px;
        font-weight: 600;
        width:150px;
        height: 50px;
        border: 2px solid black;
        padding: 12px 25px;
        position: absolute;
        left: 80px;
        bottom: 150px;
        transition: width 0.7s ease-in-out;
        text-decoration: none;
    }
    .main-button:hover{
        background-color: black;
        color: white;
        
    }
    .main-button i{
        vertical-align: middle;
        background: transparent;
        border: none;
    }


    .about img{
        height:auto;
        margin-top: 56px;
        width:280px;
        box-shadow: 5px 5px 5px rgb(56, 55, 55);
        border-radius: 10px;
        opacity: 0.6;
        margin-left: -192px;
        transition: width 0.7s ease-in-out;
    }
    .about img:hover{
        opacity: 1;
        width:310px;
        
      
    }
    .about-text{
        width:600px;
    }
    .main{
        width:1150px;
        max-width: 95%;
        margin:0 auto ;
        display: flex;
        align-items: center;
        justify-content: space-around;
    
    }
    .about-text h2{
        color: black;
        font-size: 45px;
        text-transform: capitalize;
        margin-top: 100px;
        margin-left: -120px;
    
    }
    .about-text h4{
        color: rgb(162, 13, 13);
        letter-spacing: 2px;
        font-size: 19px;
        margin-bottom: 25px;
        text-transform: capitalize;
        text-shadow: 2px gray;
        margin-left: -120px;
        
    }
    .about-text p{
        color: black;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 15px;
        margin-bottom: 45px;
        text-align: justify;
        text-shadow: 4px 0 grey;
        margin-left: -117px;
        opacity: 0.8;
    }


    .contact-text{
        font-size: 40px;
        line-height: 1;
        text-align: center;
        width: 150%;
    }
    .contact-text h2 span{
        color:rgb(162, 13, 13);
    }
    .contact-text h5{
        margin: 15px 0;
        color:black;
        font-size: 18px;
        font-weight: 600;
    }
    .contact-text p{
        color: black;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 2rem;
    }
    .contact-list{
        margin-bottom: 3rem;
        font-size: 17px;
    }
    .contact-list li{
        margin-bottom: 10px;
        display: block;
    }
    .contact-list li{
        margin-bottom: 10px;
        display: block;
    }
    .contact-list li i{
        color:rgb(162, 13, 13);
    }
    .contact-list li a:hover{
        color:rgb(162, 13, 13) ;
        transform: scale(1.02) translateY(-5px);
        
    }
    .contact-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 20px;
        color: black;
        transition: all 0.6s ease-in-out;
        text-decoration: none;
    }
    .contact-icons a:hover{
       
        width: 40px;
        height: 40px;
        color:rgb(162, 13, 13);
       
    }
    .contact-form form{
        position: relative;
        right: 30px;
        
    }
    .contact-form form input,form textarea{
        border: 1px solid black;
        outline: none;
        
        padding:18px;
        width: 140%;
        position: relative;
        background:rgb(136, 130, 130);
        color:black;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        top:73px;
       
    }
    .contact-form textarea{
        resize: none;
        height: 220px;
    }
    .contact-form .sendbutton{
        display: flex;
        position: absolute;
        align-items: center;
        padding:8px 20px;
        top:490px;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        text-decoration: none;
        background: none;
        outline: none;
        color: white;
        background:black;
        border-radius: 10px;
        cursor: pointer;
        width: 100px;
        font-weight: 300;
        right: 20px;
        
    }

    
    .message .success{
       
        bottom: 380px;
        left:250px;
    }
    section .popup{
        position: absolute;
        display: flex;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        height: 0%;
        width: 100%;
        bottom:527px;
        transition:all 0.5s ease-in-out;
        opacity: 0;
        
        
        
        
    }
    
    
    .Parent{
        position: absolute;
        background: rgb(77, 70, 70);
        height: 100%;
        width: 100%;
        opacity: 0.3;
        display:none;
    }
    
    section .popup-box{
        position: relative;
        background: linear-gradient(130deg, white,rgb(103, 93, 93));
        padding: 30px;
        max-width: 400px;
        width: 100%;
        border-radius: 10px;
        left: 15px;
        top:-86px;
        transition:all 1s ease-in-out;
        box-shadow: 0 8px 8px 8px rgb(159, 146, 146);
        
    
    }
    section .popup-box .button {
        
        margin-top: 83px;
    }
    section .popup-box textarea {
        
        margin-top: -37px;
        height: 113px;
        
    }
}

    